.search
{
    display: flex;
    position: absolute;
    top: 80px;
    width: 100%;
}
#search
{
    display: flex;
    margin-left: 8%;
    width : 83%;
    height: 45px;
    border-radius: 6px;
    border: none;
}

#search:hover {
    border: solid rgb(5, 51, 97) 2px;
}

.btn-search {
    margin-left: -35px;
    border: none;
    background-color: transparent;
}

.btn-search:hover {
    cursor: pointer;
}

.feedback > button
{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #555;
    rotate: -90deg;   
    right: -40px;
    position: absolute;
    padding: 10px 20px 10px;
    
}
.feedback
{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 200px;
    justify-content: flex-end;
    margin-top: 350px;
    z-index: 1;
} 

.message-button
{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(19, 112, 241);
    position: fixed;
    right: 50px;
    bottom: 20px;
}

.white 
{
    color: rgb(255, 255, 255);
}
.search > i
{
    position: absolute;
    right: 10%;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    /* outline: 1px solid red; */
}

.tituloebotao {
    padding-left: 120px;
    padding-top: 160px;
}

.titulo {
    font-size: 65px;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    color: rgb(24, 62, 97);
}

.botaoamarelo {
    background-color: rgb(255, 213, 0);
    color: rgb(5, 51, 97);
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
}

.botaoamarelo:hover {
    background-color: rgb(255, 234, 0);
}

.subtitulo {
    color: #666;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
}


span {
    position: relative;
    bottom: 20px;
}


.header-container {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 3000;
    gap: 200px;

}

.lista {
    display: flex;
    gap: 25px;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: .3px;
    font-size: 16px;
    align-items: center;
}

.a-header {
    text-decoration: none;
    color: rgb(5, 51, 97);
}

.options {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: -.5px;
    border: none;
    font-size: 16px;
    color: rgb(5, 51, 97);
    background-color: transparent;
    width: 80px;
}

.a-popup {
    position: fixed;
    top: 55px;
    left: 450px;
    width: 150px;
    height: auto;
    padding: 20px;
    background-color: aliceblue;
    color: #333;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    z-index: 4000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.a1 {
    text-decoration: none;
    color: #333;

}

.img-logo {
    width: 120px;
}

.div-icons {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.icons {
    height: 20px;
    padding: 10px;
    align-items: center;
}

.imagem {
    height: 100%;
    left: 50%;
    object-fit: cover;
    object-position: 30% top;
    position: absolute;
    transform: translate(-50%);
    width: 100%;
    z-index: -3000;
}

.img-btn {
    width: 22px;
    padding: auto;

}

.botao {
    display: flex;
    padding: 10px;
    gap: 10px;
    border: none;
    background-color: transparent;
    height: 5px;
}

.zip-city {
    text-align: left;
    padding-top: 10px;
}

.zip {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -.5px;
    color: #555;
}

.city {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: -.5 px;
    color: #333;
    border: none;
    background-color: transparent;
    margin-left: -5px;
}

#favoritos:hover {
    background-color: rgba(255, 0, 0, 0.07);
    border-radius: 25px;

}

#login:hover {
    background-color: rgba(50, 158, 253, 0.127);
    border-radius: 25px;
}

.div-s3 {
    background-color: white;
    width: 350px;
    height: 470px;
    margin-left: 10%;
    margin-top: 300px;
    border-radius: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-info {
    height: 25px;
    width: 25px;
    font-size: large;
    border: none;
    background-color: transparent;
    border-radius: 25px;
    align-items: center;
}

#btn-info:hover {
    cursor: pointer;
    border: solid rgb(7, 94, 182) 2px;
    border-radius: 25px;
}

ul {
    list-style: none;    
}
 

.imagem-s3 {
    height: 100%;
    left: 50%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    transform: translate(-50%);
    width: 100%;
    z-index: -3000;
    margin-top: -100px;
    filter: brightness(50%);
}

.h1-s3 {
    font-size: 36px;
    text-align: center;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    color: #053361;
    
}

.lista-s3 {
    font-size: 18px;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    color: #555;
    margin-top: 15px;
    padding-left: 30px;
}

.p-s3 {
    padding-left: 60px;
    color: #888;
    font-size: 12px;
    font-family: CarMaxSharpSansDisp-Bold,Frutiger,â€˜Frutiger Linotypeâ€™,Univers,Calibri,â€˜Gill Sansâ€™,â€˜Gill Sans MTâ€™,â€˜Myriad Proâ€™,Myriad,â€˜DejaVu Sans Condensedâ€™,â€˜Liberation Sansâ€™,â€˜Nimbus Sans Lâ€™,Tahoma,Geneva,â€˜Helvetica Neueâ€™,Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.btn-s3 {
    background-color: rgb(255, 213, 0);
    color: rgb(11, 27, 50);
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-family: Lato,Corbel,‘Lucida Grande’,‘Lucida Sans Unicode’,‘DejaVu Sans’,‘Bitstream Vera Sans’,‘Liberation Sans’,Verdana,‘Verdana Ref’,sans-serif!important;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn-s3:hover {
    background-color: rgb(255, 234, 0);
}

.a1-s3 {
    text-decoration: none;
    font-family: Lato,Corbel,‘Lucida Grande’,‘Lucida Sans Unicode’,‘DejaVu Sans’,‘Bitstream Vera Sans’,‘Liberation Sans’,Verdana,‘Verdana Ref’,sans-serif!important;
    color: rgb(11, 27, 50);
}

.blocosec2 {
    border-radius: 20px;
    box-shadow: 10px 25px 20px rgba(109, 107, 107, 0.395);
    margin: auto;
    margin-top: 210px;
    z-index: 4;
    width: 960px;
    height: 400px;
    background-color: white;
    position: relative;
}

.blocosec2>div>h1 {
    font-size: 28px;
    font-family: CarMaxSharpSansDisp-Bold, Frutiger, "‘Frutiger Linotype’", Univers, Calibri, "‘Gill Sans’", "‘Gill Sans MT’", "‘Myriad Pro’", Myriad, "‘DejaVu Sans Condensed’", "‘Liberation Sans’", "‘Nimbus Sans L’", Tahoma, Geneva, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    color: #053361;
    padding-top: 50px;
    text-align: center;
}

.blocosec2>div:nth-child(2)>p {
    font-size: 12px;
    color: rgb(155, 151, 151);
    margin-top: 50px;
    margin-left: 60px;
    width: 400px;
}

.fundocar {
    background-color: rgb(241, 241, 241);
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.car {
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
}

.txtcar {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-left: 55px;
    margin-top: 10px;
    width: 500px;
}
#container2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-left: 55px;
    margin-top: 10px;
    width: 500px;
}

.fundocar2 {
        background-color: rgb(241, 238, 238);
        width: 153px;
        height: 60px;
        border-radius: 10px;
        
}

.fundocar:hover {
        border: solid rgb(5, 51, 97) 1px;
}

.fundocar3 {
        background-color: rgb(241, 238, 238);
        width: 153px;
        height: 60px;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 1px rgb(5, 51, 97);
}

.txtvalue {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 10px;
    color: #555;
    text-align: left;
}
.txtvalue2 {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 20px;
    color: #100e0e;
    text-align: left;
    width: 120px;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 167px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 60%;
    margin-top: -165px;
    
}

#txtcont3 {
    font-size: 10px;
    max-width: 100%;
    color: rgb(5, 51, 97);
    font-size: 18px;
    text-align: center;
    font-family: CarMaxSharpSansDisp-Bold, Frutiger, "‘Frutiger Linotype’", Univers, Calibri, "‘Gill Sans’", "‘Gill Sans MT’", "‘Myriad Pro’", Myriad, "‘DejaVu Sans Condensed’", "‘Liberation Sans’", "‘Nimbus Sans L’", Tahoma, Geneva, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#txt-lg-cont3 {
    color: rgb(5, 51, 97);
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 50px;
    max-width: 100%;
    text-align: center;
    font-family: CarMaxSharpSansDisp-Bold, Frutiger, "‘Frutiger Linotype’", Univers, Calibri, "‘Gill Sans’", "‘Gill Sans MT’", "‘Myriad Pro’", Myriad, "‘DejaVu Sans Condensed’", "‘Liberation Sans’", "‘Nimbus Sans L’", Tahoma, Geneva, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.btn-cont3 {
    background-color: rgb(255, 213, 0);
    color: rgb(5, 51, 97);
    border: none;
    border-radius: 5px;
    padding: 12px 50px;
    margin-top: 30px;
    height: 50px;
    font-weight: bold;
}

.btn-cont3:hover {
    background-color: rgb(255, 234, 0);;
}


#selectcredit {
    font-size: 15px;
    margin-top: 7px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    border: none;
}

::-webkit-input-placeholder {
    font-size: 16px;
    color: #888;
    padding-left: 10px;
}
